<ul>
  <li>{{#link-to 'scenarios.simple'}}Simple{{/link-to}}</li>
  <li>{{#link-to 'scenarios.performance'}}Performance{{/link-to}}</li>
  <li>{{#link-to 'scenarios.blank'}}Blank{{/link-to}}</li>
</ul>

{{outlet}}
