<div class="demo-container fixed-width">
  {{#ember-table as |t|}}
    {{ember-thead
      api=t
      columns=columns
      sorts=sorts
      headerActions=headerActions
      onUpdateSorts="onUpdateSorts"
      onHeaderAction="onHeaderAction"
    }}

    {{ember-tbody
      api=t
      rows=rows
      selectedRows=selectedRows
      onSelect="onSelect"
      selectMode="grouping"
    }}
  {{/ember-table}}
</div>
