<div class="demo-container fixed-width">
  {{#ember-table as |t|}}
    {{#ember-thead
      api=t
      columns=columns
      sorts=sorts
      onUpdateSorts=(action "onUpdateSorts")

      as |h|
    }}
      {{#ember-tr api=h as |r|}}
        {{ember-th api=r}}
      {{/ember-tr}}
    {{/ember-thead}}

    {{#ember-tbody
      api=t
      rows=rows

      selection=selection
      onSelect=(action "onSelect")

      as |b|
    }}
      {{#ember-tr api=b as |r|}}
        {{#ember-td api=r as |value column row cellMeta columnMeta|}}
          {{value}}

          {{#if (eq columnMeta.index 0)}}lorem ipsum dolor{{/if}}
        {{/ember-td}}
      {{/ember-tr}}
    {{/ember-tbody}}
  {{/ember-table}}
</div>
