{{#if this.isSorted}}
  <span data-test-sort-indicator class="et-sort-indicator {{if this.isSortedAsc 'is-ascending' 'is-descending'}}">
    {{#if (has-block)}}
      {{yield this.columnMeta}}
    {{else}}
      {{#if this.isMultiSorted}}
        {{this.sortIndex}}
      {{/if}}
    {{/if}}
  </span>
{{/if}}

{{#if this.isSortable}}
  <button data-test-sort-toggle class="et-sort-toggle et-speech-only">Toggle Sort</button>
{{/if}}
