{{!-- Sub-Navigation --}}
<div class="col-md-2 sub-navigation-sidebar">
  <ul class="list-unstyled github-navigation">
    <li>
      <a class="btn btn-default" target="_BLANK" href="https://github.com/addepar/ember-table">
        <i class="icon-github"></i> View on GitHub
      </a>
    </li>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=addepar&amp;repo=ember-table&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
    </li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Ember Table</li>
    <li>{{#linkTo 'emberTable.overview'}}Overview &amp; Getting Started{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.documentation'}}API &amp; Documentation{{/linkTo}}</li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Examples</li>
    <li>{{#linkTo 'emberTable.simple'}}Hello World Table{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.ajax'}}AJAX cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.bars'}}Bar cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.dynamic-bars'}}Dynamic bar cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.financial'}}Tree &amp; financial table{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.editable'}}Editable cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.sparkline'}}Sparkline cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.horizon'}}Horizon cells{{/linkTo}}</li>
    <li>{{#linkTo 'emberTable.fluid'}}Fluid table{{/linkTo}}</li>
  </ul>
</div>
