{{!-- Content Column --}}
<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <div class="row">
    <div class="col-md-12">
      <h1>Community Examples</h1>
      <p class="elevated">Many people have extended ember-table to add new features or customize the way the table works with their app. We hope this list of community-built examples helps to provide inspiration and share commonly used design patterns.<br><br>This is a new list, and we're looking for more examples to add.<br>If you're willing to share your work here, please <a target="_BLANK" href="https://github.com/Addepar/ember-table/issues">open a GitHub ticket!</a></p>
      <div class="row ember-table-examples">
        <div class="col-md-4">
          <h4 class="byline">Server-side Sorting</h4>
          <p class="byline">By <a target="_BLANK" href="https://github.com/seriousben">seriousben</a></p>
          <a target="_BLANK" href="http://jsbin.com/nefiwoco/15/edit">
            <img class="preview-box" src="img/community_examples/preview_server_side_sorting.png" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
