{{!-- Content Column --}}
<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Fluid</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{view App.FluidTable
            hasHeader=true
            hasFooter=false
            numFixedColumns=0
            rowHeight=30
            columnsBinding="columns"
            contentBinding="content"
          }}
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>application.hbs</h3>
      <div class="highlight">
<pre class="prettyprint lang-html">&#123;&#123;view App.FluidTable
  hasHeader=true
  hasFooter=false
  numFixedColumns=0
  rowHeight=30
  columnsBinding="columns"
  contentBinding="content"
&#125;&#125;</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>fluid_table.coffee</h3>
      <div class="highlight">
<pre class="prettyprint lang-coffee">App.FluidTable = Ember.Table.EmberTableComponent.extend
  # actual width of the table columns (non-frozen columns)
  _tableColumnsWidth: "100%"

  prepareTableColumns: (columns) ->
    @_super(columns)
    # Some maintenance on the columns for percent resizing
    for col, i in columns
      col.set("_nextColumn", columns.objectAt(i + 1))

App.FluidColumnDefinition = Ember.Table.ColumnDefinition.extend
  isResizable: Ember.computed ->
    if @get('_nextColumn') then yes else no
  .property '_nextColumn'

  resize: (pxWidth, tableWidth)->
    newMaxWidth = null
    tableWidth = tableWidth || @get("controller._tableContainerWidth")
    return unless tableWidth

    percent = (val)->
      if "string" is typeof val
        +(val.replace("%", ""))
      else
        val * 100 / tableWidth

    # either from a tabel resize or a column resize
    oldWidth = percent(@get("columnWidth"))
    newWidth = if 'number' is typeof pxWidth then percent(pxWidth) else oldWidth

    # calculate the pixel change for
    nextCol = @get("_nextColumn")
    if nextCol
      # calculate new and old percent width
      diff = oldWidth - newWidth + percent(nextCol.get("columnWidth"))
      nextCol.set "columnWidth", diff/100*tableWidth
      newMaxWidth = (newWidth + diff)/100*tableWidth - 100

    @set "columnWidth", newWidth/100*tableWidth
    @notifyPropertyChange("columnWidth")
    newMaxWidth

  _convertColumnToWidth: Ember.beforeObserver ->
    tableWidth = @get( "controller._tableContainerWidth" )
    @set("columnWidth", @get("columnWidth")/tableWidth*100 + "%") if tableWidth
  , "controller._tableContainerWidth"

  _resizeToTable: Ember.observer ->
    @resize()
  , "controller._tableContainerWidth"
</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>application_controller.coffee</h3>
      <div class="highlight">
<pre class="prettyprint lang-coffee">App.ApplicationController = Ember.Controller.extend
  numRows: 100

  columns: Ember.computed ->
    dateColumn = App.FluidColumnDefinition.create
      columnWidth: "40"
      headerCellName: 'Date'
      getCellContent: (row) -> row['date'].toDateString();
    openColumn = App.FluidColumnDefinition.create
      columnWidth: "15"
      headerCellName: 'Open'
      getCellContent: (row) -> row['open'].toFixed(2)
    highColumn = App.FluidColumnDefinition.create
      columnWidth: "15"
      headerCellName: 'High'
      getCellContent: (row) -> row['high'].toFixed(2)
    lowColumn = App.FluidColumnDefinition.create
      columnWidth: "15"
      headerCellName: 'Low'
      getCellContent: (row) -> row['low'].toFixed(2)
    closeColumn = App.FluidColumnDefinition.create
      columnWidth: "15"
      headerCellName: 'Close'
      getCellContent: (row) -> row['close'].toFixed(2)
    [dateColumn, openColumn, highColumn, lowColumn, closeColumn]

  content: Ember.computed ->
    [0...@get('numRows')].map (index) ->
      date = new Date()
      date.setDate(date.getDate() + index)
      date:  date
      open:  Math.random() * 100 - 50
      high:  Math.random() * 100 - 50
      low:   Math.random() * 100 - 50
      close: Math.random() * 100 - 50
      volume: Math.random() * 1000000
  .property 'numRows'</pre>
      </div>
    </div>

  </div>
</div>
