<div class="ember-table-table-fixed-wrapper">
  {{#if controller.numFixedColumns}}
    {{view Ember.Table.TableBlock classNames="ember-table-left-table-block"
      contentBinding="controller.footerContent"
      columnsBinding="controller.fixedColumns"
      widthBinding="controller._fixedBlockWidth"
      heightBinding="controller.footerHeight"
    }}
  {{/if}}
  {{view Ember.Table.TableBlock classNames="ember-table-right-table-block"
    contentBinding="controller.footerContent"
    columnsBinding="controller.tableColumns"
    scrollLeftBinding="controller._tableScrollLeft"
    widthBinding="controller._tableBlockWidth"
    heightBinding="controller.footerHeight"
  }}
</div>
