<span class="table-header-cell-control-group-filler"></span>
{{view Ember.MultiItemViewCollectionView
  contentBinding="view.content"
  itemViewClassField="headerCellViewClass"
  widthBinding="controller._tableColumnsWidth"
}}
