<div class="ember-table-table-fixed-wrapper">
  {{view Ember.Table.HeaderBlock classNames="ember-table-left-table-block"
    columnsBinding="controller.fixedColumns"
    widthBinding="controller._fixedBlockWidth"
    heightBinding="controller.headerHeight"
  }}
  {{view Ember.Table.HeaderBlock classNames="ember-table-right-table-block"
    columnsBinding="controller.tableColumns"
    scrollLeftBinding="controller._tableScrollLeft"
    widthBinding="controller._tableBlockWidth"
    heightBinding="controller.headerHeight"
  }}
</div>
