<div class='font-sans text-black leading-normal'>
  {{#if this.canShowAddonDocs}}
    {{docs-header}}
  {{/if}}

  {{outlet}}

  {{#if this.canShowAddonDocs}}
    {{docs-keyboard-shortcuts}}
  {{/if}}
</div>
