{{!-- Content Column --}}
<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Simple</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          @@@app/templates/ember_table/examples/simple/application.hbs@@@
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>application.hbs</h3>
      <div class="highlight">
<pre class="prettyprint lang-html">@@app/templates/ember_table/examples/simple/application.hbs@@</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>application_controller.coffee</h3>
      <div class="highlight">
<pre class="prettyprint lang-coffee">@@app/controllers/simple.coffee@@</pre>
      </div>
    </div>
  </div>
</div>
