{{#if this.showLeft}}
  <div
    data-test-ember-table-scroll-indicator="left"
    class="scroll-indicator scroll-indicator__left"
    style={{this.leftStyle}}
  ></div>
{{/if}}
{{#if this.showRight}}
  <div
    data-test-ember-table-scroll-indicator="right"
    class="scroll-indicator scroll-indicator__right"
    style={{this.rightStyle}}
  ></div>
{{/if}}
{{#if this.showTop}}
  <div
    data-test-ember-table-scroll-indicator="top"
    class="scroll-indicator scroll-indicator__top"
    style={{this.topStyle}}
  ></div>
{{/if}}
{{#if this.showBottom}}
  <div
    data-test-ember-table-scroll-indicator="bottom"
    class="scroll-indicator scroll-indicator__bottom"
    style={{this.bottomStyle}}
  ></div>
{{/if}}
