.ember-table {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  .ember-table-overflow {
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
  }

  table {
    border-spacing: 0;
    table-layout: fixed;
    box-sizing: border-box;
  }

  td,
  th {
    box-sizing: border-box;

    &.is-fixed-left,
    &.is-fixed-right {
      // sass-lint:disable-block no-duplicate-properties
      position: -webkit-sticky;
      position: sticky;
      left: 0;
    }

    &.ember-table__text-align-left {
      text-align: left;
    }

    &.ember-table__text-align-center {
      text-align: center;
    }

    &.ember-table__text-align-right {
      text-align: right;
    }
  }

  th {
    z-index: 2;

    &:not(.is-fixed-right) {
      .et-header-resize-area {
        right: 0;
      }
    }

    &.is-fixed-right {
      .et-header-resize-area {
        left: 0;
      }
    }
  }

  td.is-fixed-left,
  td.is-fixed-right {
    z-index: 3;
  }

  th.is-fixed-left,
  th.is-fixed-right {
    z-index: 4;
  }

  th.is-sortable {
    cursor: pointer;
  }

  thead {
    // sass-lint:disable-block no-duplicate-properties
    position: -webkit-sticky;
    position: sticky;

    top: 0;
    z-index: 2;
    box-sizing: border-box;
  }

  tbody {
    box-sizing: border-box;
  }

  tfoot {
    // sass-lint:disable-block no-duplicate-properties
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 2;
    box-sizing: border-box;
  }

  .scroll-indicator {
    position: absolute;
    z-index: 5;

    &__left, &__right {
      top: 0;
      width: 8px;
      height: 100%;
    }

    &__left {
      background: linear-gradient(to right, rgba(168, 168, 168, 0.4), rgba(168, 168, 168, 0));
    }

    &__right {
      right: 0;
      background: linear-gradient(to left, rgba(168, 168, 168, 0.4), rgba(168, 168, 168, 0));
    }

    &__top, &__bottom {
      left: 0;
      width: 100%;
      height: 8px;
    }

    &__top {
      top: 0;
      background: linear-gradient(to bottom, rgba(168, 168, 168, 0.4), rgba(168, 168, 168, 0));
    }

    &__bottom {
      bottom: 0;
      background: linear-gradient(to top, rgba(168, 168, 168, 0.4), rgba(168, 168, 168, 0));
    }
  }

  &.et-unselectable {
    user-select: none;
  }

  .et-header-resize-area {
    cursor: col-resize;

    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
  }

  .et-speech-only {
    display: none !important;
  }

  @media speech {
    .et-speech-only {
      display: block !important;
    }
  }
}
