.ember-table {
  position: relative;
  overflow: scroll;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;

  table {
    border-spacing: 0;
    table-layout: fixed;
  }

  td.is-fixed, th.is-fixed {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }

  thead {
    position: -webkit-sticky;
    position: sticky;

    top: 0;
    z-index: 2;
    box-sizing: border-box;

    th:first-child {
      z-index: 3;
    }
  }

  tbody {
    box-sizing: border-box;
  }

  tfoot {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 2;
    box-sizing: border-box;

    td:first-child {
      z-index: 3;
    }
  }
}
