{{#if enableScrollIndicators}}
  {{#if showLeft}}
    <div
      data-test-ember-table-scroll-indicator="left"
      class="scroll-indicator scroll-indicator__left"
      style={{leftStyle}}
    ></div>
  {{/if}}
  {{#if showRight}}
    <div
      data-test-ember-table-scroll-indicator="right"
      class="scroll-indicator scroll-indicator__right"
      style={{rightStyle}}
    ></div>
  {{/if}}
{{/if}}
