{{#if enableScrollIndicators}}
  {{#if showLeft}}
    <div class="scroll-indicator scroll-indicator__left"></div>
  {{/if}}
  {{#if showRight}}
    <div class="scroll-indicator scroll-indicator__right"></div>
  {{/if}}
{{/if}}
