{{#if enableScrollIndicators}}
  {{#if showLeft}}
    <div class="scroll-indicator scroll-indicator__left" style={{leftStyle}}></div>
  {{/if}}
  {{#if showRight}}
    <div class="scroll-indicator scroll-indicator__right" style={{rightStyle}}></div>
  {{/if}}
{{/if}}
