/************************************************************************************************/
/* Table default style */
/************************************************************************************************/
$table-header-background-color: #f8f8f8;
$table-border-color: #dcdcdc;
$table-hover-color: #e5edf8;

.et-table {
  border: solid 1px #ddd;

  .et-thead {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  }

  .et-tfoot {
    border-top: solid 1px $table-border-color;
  }

  .et-th, .et-td, .et-tf {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
  }

  td, .et-td {
    border-bottom: $table-border-color 1px dotted;
    border-right: $table-border-color 1px solid;
    background-color: white;
  }

  .et-td {
    &.is-fixed {
      margin-top: -1px;
    }
  }

  .et-th, th, .et-tf {
    padding: 5px 0px 3px 0px;
    background-color: $table-header-background-color;
    font-family: 'Univers LT W01 65 Bold';
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    &:not(.is-fixed) {
      border-bottom: 1px solid $table-border-color;
    }
  }

  .et-th, .et-tf {
    border-right: solid 1px $table-border-color;
  }

  .et-tr:hover {
    .et-td, .et-th {
      cursor: pointer;
      background-color: $table-hover-color;
    }
  }

  .et-tr.is-selected {
    .et-td, .et-th {
      background-color: #227ecb;
    }
  }

  .et-header-ghost-element {
    background: #CCC;
    opacity: 0.8;
    cursor: move;
  }

  .et-header-align-bar {
    background: #444;
    opacity: 0.6;
  }
}
