.demo-table-wrapper {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.demo-container {
  position: relative;
  width: 1000px;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
}

div {
  box-sizing: border-box;
}

table td, table th {
  border-bottom: 1px solid black;
  box-sizing: border-box;
  font-size: 30px;
  vertical-align: top;
  padding: 0;
}

div .et2-fixed-table-cell, div .et2-fixed-table-header, div .et2-fixed-table-footer {
  background-color: teal;
}

table thead th {
  border-bottom: 2px solid black;
}

table tfoot th {
  border-top: 2px solid black;
  border-bottom: none;
}

.red-cell {
  background: red;
}
