@import './tables';
@import '@addepar/style-toolbox/onyx/index';

$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$maroon: #85144b;
$fuchsia: #f012be;
$purple: #b10dc9;
$black: #111111;
$grey: #aaaaaa;
$silver: #dddddd;

.text-navy {
  color: $navy;
}
.text-blue {
  color: $blue;
}
.text-aqua {
  color: $aqua;
}
.text-teal {
  color: $teal;
}
.text-olive {
  color: $olive;
}
.text-green {
  color: $green;
}
.text-lime {
  color: $lime;
}
.text-yellow {
  color: $yellow;
}
.text-orange {
  color: $orange;
}
.text-red {
  color: $red;
}
.text-maroon {
  color: $maroon;
}
.text-fuchsia {
  color: $fuchsia;
}
.text-purple {
  color: $purple;
}
.text-black {
  color: $black;
}
.text-grey {
  color: $grey;
}
.text-silver {
  color: $silver;
}

.options-container {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.9em;

  border-top: solid 1px #dae1e7;
  margin-top: 1em;
  padding-top: 1em;

  .label {
    flex: 0 1 40%;
    font-weight: normal;
    text-align: right;

    padding-bottom: 1em;
    padding-right: 1em;
  }

  .options {
    padding-bottom: 1em;
  }
}

.resize-container {
  resize: both;
  overflow: scroll;
  border: solid 1px #dae1e7;
  width: 400px;
  height: 200px;
  padding: 10px;
}

.docs-hero {
  > div {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h1 {
    display: flex;
    justify-content: center;
    line-height: 1.5;

    > div {
      margin: 0;

      > span {
        height: 4rem;
      }
    }
  }

  p {
    margin-top: 0;
  }
}

tr {
  &.has-children {
    td {
      background-color: #f7f7f7;
    }
  }

  &.is-row-selected {
    td {
      background-color: #e5f5ff;
    }
  }

  td.is-column-selected,
  th.is-column-selected {
    background-color: #e5f5ff;
    border-bottom-color: #d2e2ec;
  }

  td.is-cell-selected {
    background-color: #b8ddf5;
  }
}

.cell-content {
  margin: -4px;
  padding: 4px;
  height: 30px;
}
