.demo-table-wrapper {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.demo-container {
  position: relative;
  width: 1000px;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
}
