.demo-options {
  & > * + * {
    padding-left: 2em;
  }
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  label {
    white-space: nowrap;
  }
}

.demo-current-selection {
  font-weight: bold;
}

.demo-options-group {
  h4 {
    font-weight: normal;
    font-size: larger;
  }

  display: flex;

  & *:first-child {
    flex-basis: 40%;
  }

  & > * + * {
    padding-left: 2em;
  }
}

.demo-container {
  position: relative;
  width: 100%;
  height: 400px;

  &.small {
    height: 200px;
  }

  &.fixed-width {
    width: 800px;
  }
}

.vertical-borders {
  td,
  th {
    &:not(:first-child) {
      box-sizing: border-box;
      border-left: 1px solid #ddd;
    }
  }
}

.et-table {
  td,
  th {
    background: #ffffff;
  }
}

/* Custom component classes */
.custom-component-container {
  position: relative;
  width: 360px;
  height: 300px;
}

.cell-image {
  height: 40px;
  width: 40px;
}

.custom-row {
  background: #00ff00;
}

.custom-footer {
  background-color: #00ff00;
}

.info-table {
  margin: 2em auto;

  th {
    background-color: #f1f5f8;
  }

  th,
  td {
    padding: 0.5em;
    border: 1px solid #555;

    &.center {
      text-align: center;
    }

    &.highlight {
      background-color: #96c178;
    }
  }

  td:not(:first-child) {
    font-weight: bold;
  }
}
