@import '../styles/ember-table/default';

.demo-container {
  position: relative;
  width: 800px;
  height: 500px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 100px;
}

.et-table {
  td, th {
    background: white;
  }
}

.red-cell {
  background: red;
}

/* Custom component classes */
.custom-component-container {
  position: relative;
  width: 360px;
  height: 300px;
}

.cell-image {
  height: 40px;
  width: 40px;
}

.custom-row {
  background: green;
}

.custom-footer {
  background-color: green;
}
