.demo-container {
  position: relative;
  width: 100%;
  height: 400px;

  &.small {
    height: 200px;
  }

  &.fixed-width {
    width: 800px;
  }
}

.et-table {
  td,
  th {
    background: #ffffff;
  }
}

.red-cell {
  background: #ff0000;
}

/* Custom component classes */
.custom-component-container {
  position: relative;
  width: 360px;
  height: 300px;
}

.cell-image {
  height: 40px;
  width: 40px;
}

.custom-row {
  background: #00ff00;
}

.custom-footer {
  background-color: #00ff00;
}
