<div
  data-test-ember-table-overflow
  class="ember-table-overflow"
  id="{{this.elementId}}-overflow"
>
  <table>
    {{yield (hash
      api=this.api
      head=(component "ember-thead" api=this.api)
      body=(component "ember-tbody" api=this.api)
      foot=(component "ember-tfoot" api=this.api)
      loadingMore=(component "ember-table-loading-more" api=this.api)
    )}}
  </table>
</div>
<EmberTablePrivate::ScrollIndicators @api={{this.api}} />
