<span {{bind-attr class=":ember-table-toggle-span view.row.isLeaf::ember-table-toggle
    view.row.isCollapsed:ember-table-expand:ember-table-collapse"}}
    {{action 'toggleCollapse' view.row}}>
  <i class="icon-caret-down ember-table-toggle-icon"></i>
</span>
<div class="ember-table-content-container" {{action 'sortByColumn' view.column}}>
  <span class="ember-table-content">
    {{view.column.headerCellName}}
  </span>
</div>
