<h1>Welcome to Ember Table</h1>

<ul>
  <li><a href="/simple">Simple table</a></li>
  <li><a href="/demo">Advanced table</a></li>
  <li><a href="/docs">Document &amp; Examples</a></li>
  <li><a target="_blank" href="/tests">Run tests (new tab)</a></li>
</ul>
