<h1>Welcome to Ember Table</h1>

<ul>
  <li><a href="/simple">Simple table</a></li>
  <li><a href="/demo">Advanced table</a></li>
  <li><a href="/docs">Document & Examples</a></li>
  <li><a href="/tests">Run tests</a></li>
</ul>
