<div class="demo-container small">
  {{! BEGIN-SNIPPET docs-example-selected-rows.hbs }}
  <EmberTable as |t|>
    <t.head @columns={{this.columns}} />

    <t.body
      @rows={{this.rowWithChildren}}
      @onSelect={{fn (mut this.preselection)}}
      @selection={{this.preselection}}
    />
  </EmberTable>
  {{! END-SNIPPET }}
</div>
