{{! BEGIN-SNIPPET financial-table-header-tree-cell-template}}
<div class="ember-table-cell-container">
  <span class="ember-table-toggle-span ember-table-toggle
      {{if isCollapsed 'ember-table-expand' 'ember-table-collapse'}}"
      {{action 'toggleTableCollapse'}}>
    {{fa-icon "caret-down" class="ember-table-toggle-icon"}}
  </span>
  <div class="ember-table-header-content-container">
    <span class="ember-table-content">
      {{column.headerCellName}}
    </span>
  </div>
</div>
{{! END-SNIPPET}}
