{{! BEGIN-SNIPPET financial-table-header-cell-template}}
<div class="ember-table-cell-container">
  <div class="ember-table-header-content-container">
    <span class="ember-table-content">
      {{content.headerCellName}}
    </span>
  </div>
</div>
{{! END-SNIPPET}}
