<thead class="et-thead">
  <tr class="et-tr">
    {{#each columns as |column columnIndex|}}
      {{#ember-table-header
        column=column
        tableHasSubcolumns=hasSubcolumns
        columnIndex=columnIndex
        numFixedColumns=numFixedColumns
        onColumnResized="onColumnResized"
        onColumnResizeEnded="onColumnResizeEnded"
        onColumnReorder="onColumnReorder"
        onColumnReorderEnds="onColumnReorderEnds"
        onHeaderEvent="onHeaderEvent"
        width=column.width
      }}
      {{/ember-table-header}}
    {{/each}}
  </tr>

  {{#if hasSubcolumns}}
    <tr class="et-tr">
      {{#each columns as |column columnIndex|}}
        {{#each column.subcolumns as |subcolumn subcolumnIndex|}}
          {{#ember-table-header
            column=subcolumn
            tableHasSubcolumns=false
            columnIndex=columnIndex
            numFixedColumns=numFixedColumns
            onColumnResized="onColumnResized"
            onColumnResizeEnded="onColumnResizeEnded"
            onColumnReorder="onColumnReorder"
            onColumnReorderEnds="onColumnReorderEnds"
            onHeaderEvent="onHeaderEvent"
            width=column.width
          }}
          {{/ember-table-header}}
        {{/each}}
      {{/each}}
    </tr>
  {{/if}}
</thead>

  <div class="et-tbody-container" data-test-body-container>
    <tbody class="et-tbody">
      {{#vertical-collection rows
        estimateHeight=estimateRowHeight
        staticHeight=staticHeight
        containerSelector=".et-tbody-container"

        as |rowValue rowIndex|
      }}

        {{yield (hash
          value=rowValue
          index=rowIndex
          api=api)
        }}
      {{/vertical-collection}}
    </tbody>
  </div>

{{#if hasFooter}}
  <tfoot class="et-tfoot">
    <tr class="et-tr">
      {{#each bodyColumns as |column columnIndex|}}
        {{#ember-table-footer
          column=column
          columnIndex=columnIndex
          numFixedColumns=numFixedColumns
        }}
          {{column.columnName}}
        {{/ember-table-footer}}
      {{/each}}
    </tr>
  </tfoot>
{{/if}}

<div class="et-horizontal-scroll-wrapper" style={{horizontalScrollWrapperStyle}}>
  <div class="et-horizontal-scroll" style={{horizontalScrollStyle}} />
</div>

