<div class="et2-thead-wrapper">
  <thead class="et2-thead">
    <tr>
      {{#each columns as |column columnIndex|}}
        {{#ember-table-header
          column=column
          columnIndex=columnIndex
          numFixedColumns=numFixedColumns
          onColumnResized="onColumnResized"
          onColumnResizeEnded="onColumnResizeEnded"
          onColumnReorder="onColumnReorder"
          onColumnReorderEnds="onColumnReorderEnds"
          width=column.width
        }}
        {{/ember-table-header}}
      {{/each}}
    </tr>
  </thead>
</div>

<div class="et2-body-outer-wrapper" >
  <div class="et2-body-inner-wrapper">
    {{#vertical-collection
      items=rows
      containerSelector=".et2-body-outer-wrapper"
      estimateHeight=estimateRowHeight
      tagName="tbody"

      as |row rowIndex|
    }}
      {{#component rowComponent
        row=row
        columns=columns
        cellCache=cellCache
        numFixedColumns=numFixedColumns
        cellProxyClass=cellProxyClass
        onCellEvent="onCellEvent"

        as |cell|
      }}
        {{yield cell}}
      {{/component}}
    {{/vertical-collection}}
  </div>
</div>

<div class="et2-bottom-wrapper">
  {{#if hasFooter}}
    <tfoot class="et2-tfooter">
      <tr>
        {{#each columns as |column columnIndex|}}
          {{#ember-table-footer
            column=column
            columnIndex=columnIndex
            numFixedColumns=numFixedColumns
          }}
            {{column.columnName}}
          {{/ember-table-footer}}
        {{/each}}
      </tr>
    </tfoot>
  {{/if}}

  <div class="et2-horizontal-scroll-wrapper" style={{horizontalScrollWrapperStyle}}>
    <div class="et2-horizontal-scroll" style={{horizontalScrollStyle}} />
  </div>
</div>

