<div class={{fixedCellClass}} style={{style}}>
  {{#if column.cellComponent}}
    {{#component column.cellComponent
      column=column
      value=value
    }}

    {{/component}}
  {{else}}
    {{yield}}
  {{/if}}
</div>
