/* Variables
-------------------------------------------------- */
/* Table - Sizes */
/* Table - Font Colors */
/* Table - BG and Border Colors */
/* Table - Scrollbar */
/* Ember Table Structure
-------------------------------------------------- */
/* Table Structures */
.tables-container {
  height: 100%;
  width: 100%;
  position: relative;
  outline: 0;
  z-index: 0;
  font-size: 0;
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
  overflow: hidden;
}
.tables-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-container {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 3;
}
.table-fixed-wrapper,
.table-scrollable-wrapper {
  overflow: visible;
}
.table-block {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.table-fixed-wrapper {
  overflow: hidden;
}
.table-scrollable-wrapper {
  display: block;
}
.scroll-container {
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1;
}
.fixed-table-container {
  z-index: 4;
}
.fixed-table-container.header-container {
  background-color: #ffffff;
}
.fixed-table-container.footer-container {
  background-color: #ffffff;
}
.header-row::-webkit-scrollbar {
  width: 0;
}
/* Table Rows */
.table-row {
  position: absolute;
}
.table-row > div {
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.table-row.selected {
  background-color: #227ecb !important;
  color: #FFF;
  cursor: pointer;
}
.lazy-list-container {
  position: relative;
}
.lazy-list-container .table-row {
  position: absolute;
  background-color: #fcfcfc;
}
/* Table Cell */
.table-cell {
  float: left;
  font-size: 13px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px dashed #dddddd;
  height: 100%;
}
.table-cell span {
  padding: 0;
  line-height: 29px;
}
.table-cell .content {
  padding: 0 5px;
}
.body-container .table-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
}
.table-fixed-wrapper .right-table-block .table-cell:last-child,
.table-scrollable-wrapper .right-table-block .table-cell:last-child {
  border-right: none;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
/* Header */
.header-cell {
  padding: 0px;
  position: relative;
}
.header-cell .content {
  padding: 5px;
  line-height: 1.4;
  position: absolute;
  bottom: 2px;
}
.header-cell .toggle {
  padding: 0 0 0 5px;
}
.header-cell.text-align-left .content {
  left: 0;
}
.header-cell.text-align-right .content {
  right: 0;
}
.header-container {
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
.header-container .ui-state-highlight {
  float: left;
  background-color: #E1E1E1;
  width: 3px;
  margin-left: -3px;
  z-index: 100;
  position: relative;
  height: 100%;
}
.header-container .ui-resizable-handle {
  position: absolute;
  right: -3px;
  background: transparent;
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}
.header-container .ui-resizable-handle.ui-resizable-e {
  top: 0;
  height: 100%;
  width: 5px;
}
.header-container .ui-resizable-handle.ui-resizable-e:hover {
  background: transparent;
  cursor: col-resize;
}
.header-container .ui-resizable-handle.ui-resizable-s {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: transparent;
}
.header-container .ui-resizable-handle.ui-resizable-s:hover {
  cursor: row-resize;
}
.header-container .ui-sortable {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-container .ui-sortable-helper {
  background-color: #EAEAEA;
}
.header-container .ui-sortable-helper .ui-resizable-handle {
  background-color: #EAEAEA;
}
.header-cell {
  display: block !important;
}
.header-cell .toggle {
  margin-top: 20px;
}
.header-cell .toggle i {
  display: none;
}
.header-container .right-table-block .table-row {
  width: 100%;
  overflow-x: auto;
}
.header-container .right-table-block .table-row .ui-sortable {
  overflow: hidden;
}
.table-header-tree-cell .content,
.table-tree-cell .content {
  padding-left: 25px;
}
.table-column-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #dddddd;
  margin: 0;
  z-index: 80;
  padding: 0;
}
.table-column-header .table-dropdown-toggle {
  visibility: hidden;
}
.table-column-header .table-dropdown-toggle:hover {
  cursor: pointer;
}
.table-column-header:hover {
  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.table-column-header:hover .table-dropdown-toggle {
  visibility: visible;
}
.table-dropdown-toggle {
  height: 19px;
  float: right;
  margin: 0;
  text-align: center;
  padding: 3px 2px 0 2px;
  background-color: #dbdbdb;
  color: #757575;
}
/* Footer */
.footer-container {
  position: absolute;
  border-top: 1px solid #dddddd;
  overflow: hidden;
}
.footer-container .table-cell .toggle {
  padding: 0 3px 0 5px !important;
}
.footer-container .table-cell .toggle .toggle-icon:before {
  content: none !important;
}
/* Toggle Cell */
.toggle-span {
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 100%;
  margin: 0;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.toggle-icon {
  display: none;
  margin: 0;
}
.toggle .toggle-icon {
  display: inline-block;
  cursor: pointer;
  width: 14px;
  padding-left: 6px;
  opacity: 0.3;
  -webkit-transition: 0.1s all linear;
  -moz-transition: 0.1s all linear;
  -ms-transition: 0.1s all linear;
  -o-transition: 0.1s all linear;
  transition: 0.1s all linear;
}
.toggle .toggle-icon:hover {
  opacity: 0.5;
}
.toggle.expand {
  background-color: #dbdbdb;
}
.toggle.expand .toggle-icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  padding-left: 0;
  opacity: 1;
  padding-left: 4px;
  padding-top: 3px;
}
/* Column Indicator */
.column-sortable-indicator {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  background-color: #333;
  opacity: 0.4;
  width: 3px;
  z-index: 1000;
  visibility: hidden;
}
.column-sortable-indicator.active {
  visibility: visible;
}
