/* Mixins */
/* Table - Sizes */
/* Table - Font Colors */
/* Table - BG and Border Colors */
/* Table - Scrollbar */
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #fff;
  height: 100%;
  width: 100%;
}
.ember-application > .ember-app {
  height: 100%;
  width: 100%;
}
.presentation-container {
  padding-top: 30px;
  height: 700px;
  width: 1000px;
  margin: auto;
}
.antiscroll-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.antiscroll-scrollbar {
  background: gray;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px #fff;
  -moz-box-shadow: 0 0 1px #fff;
  box-shadow: 0 0 1px #fff;
  position: absolute;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transition: linear 300ms opacity;
  -moz-transition: linear 300ms opacity;
  -o-transition: linear 300ms opacity;
}
.antiscroll-scrollbar-shown {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.antiscroll-scrollbar-horizontal {
  height: 7px;
  margin-left: 2px;
  bottom: 2px;
  left: 0;
}
.antiscroll-scrollbar-vertical {
  width: 7px;
  margin-top: 2px;
  right: 2px;
  top: 0;
}
.antiscroll-inner {
  overflow: scroll;
}
/** A bug in Chrome 25 on Lion requires each selector to have their own
    blocks. E.g. the following:

    .antiscroll-inner::-webkit-scrollbar, .antiscroll-inner::scrollbar {...}

    causes the width and height rules to be ignored by the browser resulting
    in both native and antiscroll scrollbars appearing at the same time.
 */
.antiscroll-inner::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.antiscroll-inner::scrollbar {
  width: 0;
  height: 0;
}
/* Ember Table Structure
-------------------------------------------------- */
/* Table Structures */
.ember-table-tables-container {
  height: 100%;
  width: 100%;
  position: relative;
  outline: 0;
  z-index: 0;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  border: 1px solid #cfd1d4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ember-table-tables-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.ember-table-table-container {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.ember-table-table-fixed-wrapper,
.ember-table-table-scrollable-wrapper {
  overflow: visible;
}
.ember-table-table-fixed-wrapper,
.ember-table-header-block {
  height: 100%;
}
.ember-table-header-container {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ember-table-footer-container {
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}
.ember-table-table-block {
  display: inline-block;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.ember-table-table-fixed-wrapper {
  overflow: hidden;
}
.ember-table-table-scrollable-wrapper {
  display: block;
}
.ember-table-scroll-container {
  position: absolute;
  z-index: 1;
}
.ember-table-fixed-table-container {
  z-index: 4;
}
.ember-table-fixed-table-container.ember-table-header-container {
  background-color: #ffffff;
}
.ember-table-fixed-table-container.ember-table-footer-container {
  background-color: #ffffff;
}
.ember-table-header-row::-webkit-scrollbar {
  width: 0;
}
.ember-table-header-row,
.ember-table-header-container .ember-table-table-fixed-wrapper {
  background-color: #f3f3f3;
  background-color: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
}
/* Table Rows */
.ember-table-table-row {
  position: absolute;
}
.ember-table-table-row > div {
  height: 100%;
}
.ember-table-table-row.ember-table-selected {
  background-color: #227ecb !important;
  color: #fff;
  cursor: pointer;
}
.ember-table-lazy-list-container {
  position: relative;
}
.ember-table-lazy-list-container .ember-table-table-row {
  position: absolute;
  background-color: #ffffff;
}
/* Table Cell */
.ember-table-table-cell {
  float: left;
  font-size: 13px;
  border-right: 1px solid #dcdcdc;
  height: 100%;
}
.ember-table-table-cell span {
  padding: 0;
  line-height: 29px;
}
.ember-table-table-cell .ember-table-content {
  padding: 0 5px;
}
.ember-table-body-container .ember-table-table-cell,
.ember-table-footer-container .ember-table-table-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 100%;
  border-right: 0;
}
.ember-table-left-table-block .ember-table-table-cell {
  border-right: 1px solid #dcdcdc !important;
}
/* Header Container */
.ember-table-header-container {
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
}
.ember-table-header-container .ui-state-highlight {
  float: left;
  background-color: #e1e1e1;
  width: 3px;
  margin-left: -3px;
  z-index: 100;
  position: relative;
  height: 100%;
}
.ember-table-header-container .ui-resizable-handle {
  position: absolute;
  right: -3px;
}
.ember-table-header-container .ui-resizable-handle.ui-resizable-e {
  top: 0;
  height: 100%;
  width: 5px;
}
.ember-table-header-container .ui-resizable-handle.ui-resizable-e:hover {
  cursor: col-resize;
}
.ember-table-header-container .ui-resizable-handle.ui-resizable-s {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: transparent;
}
.ember-table-header-container .ui-resizable-handle.ui-resizable-s:hover {
  cursor: row-resize;
}
.ember-table-header-container .ui-sortable {
  width: 100%;
  height: 100%;
  position: relative;
}
.ember-table-header-container .ui-sortable-helper {
  background-color: #eaeaea;
}
.ember-table-header-container .ui-sortable-helper .ember-table-content-container {
  display: none;
}
.ember-table-header-container .ui-sortable-helper .ui-resizable-handle {
  background-color: #eaeaea;
}
.ember-table-header-container .ember-table-right-table-block .ember-table-table-row {
  width: 100%;
  overflow-x: auto;
}
.ember-table-header-container .ember-table-right-table-block .ember-table-table-row .ui-sortable {
  overflow: hidden;
}
/* Header Cells */
.ember-table-header-cell {
  padding: 0;
  position: relative;
  display: block !important;
  font-size: 12px !important;
  background-color: #f3f3f3;
  background-color: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
}
.ember-table-header-cell span {
  line-height: 1;
}
.ember-table-header-cell .ember-table-content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.ember-table-header-cell .ember-table-content-container:hover {
  cursor: pointer;
}
.ember-table-header-cell .ember-table-content-container .ember-table-content {
  padding: 5px;
  line-height: 1.4;
  position: absolute;
  bottom: 2px;
  font-weight: bold;
}
.ember-table-header-cell .ember-table-toggle {
  position: relative;
}
.ember-table-header-cell .ember-table-toggle i {
  position: absolute;
  bottom: 8px;
  font-size: 13px;
}
.ember-table-header-cell.text-align-left .ember-table-content {
  left: 0;
}
.ember-table-header-cell.text-align-right .ember-table-content {
  right: 0;
}
.ember-table-table-header-tree-cell .ember-table-content-container {
  left: 20px;
}
.ember-table-table-dropdown-toggle {
  height: 19px;
  float: right;
  margin: 0;
  text-align: center;
  padding: 3px 2px 0 2px;
  background-color: #dbdbdb;
  color: #757575;
}
/* Footer */
.ember-table-footer-container {
  position: absolute;
  border-top: 1px solid #dcdcdc;
  overflow: hidden;
  z-index: 1;
}
.ember-table-footer-container .ember-table-table-cell .ember-table-toggle {
  display: none;
}
/* Toggle Cell */
.ember-table-toggle-span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 100%;
  margin: 0;
}
.ember-table-toggle-span:hover {
  cursor: pointer;
}
.ember-table-toggle-icon {
  display: none;
  margin: 0;
}
.ember-table-toggle .ember-table-toggle-icon {
  display: inline-block;
  cursor: pointer;
  width: 14px;
  padding-left: 6px;
  opacity: 0.3;
}
.ember-table-toggle .ember-table-toggle-icon:hover {
  opacity: 0.5;
}
.ember-table-toggle.ember-table-expand .ember-table-toggle-icon {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  padding-left: 0;
  opacity: 1;
  padding-left: 3px;
  padding-top: 3px;
}
/* Column Indicator */
.ember-table-column-sortable-indicator {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  background-color: #333;
  opacity: 0.4;
  width: 3px;
  z-index: 1000;
  visibility: hidden;
}
.ember-table-column-sortable-indicator.active {
  visibility: visible;
}
/* Add Column Button */
.ember-table-add-column-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: table;
  background-color: #f3f3f3;
  background-color: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-repeat: repeat-x;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ember-table-add-column-button span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: #8e8e8e;
  text-shadow: #fff 0px 1px 0px;
}
.ember-table-add-column-button span:hover {
  text-decoration: none;
}
.ember-table-add-column-button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px;
}
.ember-table-add-column-button:hover a {
  color: #757575;
}
.ember-table-add-column-button:active {
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset;
}
/* Antiscroll */
.antiscroll-scrollbar {
  z-index: 10;
}
.ember-table-body-container .antiscroll-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
}
.ember-table-body-container .antiscroll-box .antiscroll-inner {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.ember-table-scroll-container .antiscroll-wrap {
  height: 100% !important;
  width: 100% !important;
}
.ember-table-scroll-container .antiscroll-scrollbar-vertical {
  display: none;
}
.ember-table-tables-container > .antiscroll-wrap .antiscroll-scrollbar-horizontal {
  display: none !important;
}
/* Levels */
.ember-table-table-row {
  background-color: #fff;
}
.ember-table-table-row.ember-table-row-style-1 {
  border-bottom: 1px dotted #dcdcdc;
  background-color: #f2f2f2;
}
.ember-table-table-row.ember-table-row-style-2 {
  border-bottom: 1px dotted #dcdcdc;
  background-color: #f7f7f7;
}
.ember-table-table-row.ember-table-row-style-3 {
  border-bottom: 1px dotted #dcdcdc;
}
.ember-table-table-row.ember-table-row-style-4 {
  border-bottom: 1px dotted #dcdcdc;
}
.ember-table-table-row.ember-table-row-style-5 {
  border-bottom: 1px dotted #dcdcdc;
}
.ember-table-table-row.ember-table-row-style-6 {
  border-bottom: 1px dotted #dcdcdc;
}
.ember-table-table-row.ember-table-last-row {
  border-bottom: none !important;
}
.ember-table-body-container .ember-table-table-row.active {
  background-color: rgba(0, 82, 196, 0.1);
}
/* Util classes */
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
