// Setup
html, body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #F7F7F7;
  height: 100%;
}
.presentation-container{
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  width: 100%;
}