// Setup
html, body{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #e6e6e6;
  height: 100%;
  width: 100%;
}
.ember-application > .ember-app{
  height: 100%;
  width: 100%;
}
.presentation-container{
  padding-top: 50px;
  height: 800px;
  width: 1000px;
  margin: auto;
}