<div class="demo-container small">
  {{! BEGIN-SNIPPET docs-example-dynamic-fixed-columns.hbs }}
  {{#ember-table as |t|}}
    {{#t.head columns=columns as |h|}}
      {{#h.row as |r|}}
        {{#r.cell as |column|}}
          <input type="checkbox" checked={{eq column.isFixed 'left'}} onclick={{action toggleFixed column}} />

          {{column.name}}
        {{/r.cell}}
      {{/h.row}}
    {{/t.head}}

    {{t.body rows=rows}}
  {{/ember-table}}
  {{! END-SNIPPET }}
</div>
