<div class="demo-container">
  <div class="demo-table-wrapper">
    {{#ember-table-2
      rows=rows
      enableColumnResize=true
      enableColumnReorder=true
      hasFixedColumn=true
      columns=columns
      as |cell|
    }}

      <div {{action "onCellClicked" cell}} class={{if cell.wasClicked "red-cell"}}>
        {{cell.value}}
      </div>

    {{/ember-table-2}}
  </div>
</div>
