
<div class="demo-container">
  {{#addepar/standard-table
    rows=rows
    columns=columns
    numFixedColumns=1
    columnMode="fluid"
    as |cell|
  }}

    <div {{action "onCellClicked" cell}} class={{if cell.wasClicked "red-cell"}}>
      {{cell.value}}
    </div>

  {{/addepar/standard-table}}
</div>
