<div class="demo-container">
  <div class="demo-table-wrapper">
    {{#ember-table
      rows=rows
      enableColumnResize=true
      enableColumnReorder=true
      hasFixedColumn=true
      columns=columns
      as |cell rowIndex columnIndex|}}

      {{cell}}

    {{/ember-table}}
  </div>
</div>
