<div class="demo-container">
  <div class="demo-table-wrapper">
    {{#ember-table
      rows=rows
      enableColumnResize=true
      enableColumnReorder=true
      hasFixedColumn=true
      columns=columns
      as |row columnValuePath rowIndex columnIndex|
    }}

      <div {{action "onCellClicked" row}}>
        {{get row.value columnValuePath}}
      </div>

    {{/ember-table}}
  </div>
</div>
