<div class="demo-container">
  {{#ember-table-2
    rows=rows
    columns=columns
    columnMode="fluid"
    numFixedColumns=1
    as |t|
  }}
    {{#ember-table-row
      row=t.row
      rowIndex=t.rowIndex

      as |cell|
    }}
      <div {{action "onCellClicked" cell}} class={{if cell.wasClicked "red-cell"}}>
        {{cell.value}}
      </div>
    {{/ember-table-row}}
  {{/ember-table-2}}
</div>
