<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Dynamic Bar</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{partial "dynamic-bar-table/dynamic-bar-table"}}
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      <div class="highlight">
        <pre class="prettyprint lang-html">@@{templates/dynamic-bar-table/dynamic-bar-table.hbs}</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      <div class="highlight">
        <pre class="prettyprint lang-js">@@{controllers/dynamic-bars.js}</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/bar-table-cell.js</h3>
      <div class="highlight">
        <pre class="prettyprint lang-js">@@{views/bar-table-cell.js}</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/bar-table/bar-cell.hbs</h3>
      <div class="highlight">
        <pre class="prettyprint lang-html">@@{templates/bar-table/bar-cell.hbs}</pre>
      </div>
    </div>
  </div>
</div>
