<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Editable</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{partial "editable-table/editable-table"}}
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      <div class="highlight">
        <pre class="prettyprint lang-html">@@{templates/editable-table/editable-table.hbs}</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      <div class="highlight">
        <pre class="prettyprint lang-js">@@{controllers/editable.js}</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/editable_table_cell.js</h3>
      <div class="highlight">
        <pre class="prettyprint lang-js">@@{views/editable-table-cell.js}</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/editable-table/editable_table_cell.hbs</h3>
      <div class="highlight">
        <pre class="prettyprint lang-html">@@{templates/editable-table/editable-table-cell.hbs}</pre>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>templates/editable-table/rating_table_cell.hbs</h3>
      <div class="highlight">
        <pre class="prettyprint lang-html">@@{templates/editable-table/rating-table-cell.hbs}</pre>
      </div>
    </div>
  </div>
</div>
