<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Horizon</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{! BEGIN-SNIPPET horizon-table}}
          {{ember-table
            hasHeader=true
            hasFooter=false
            numFixedColumns=0
            rowHeight=30
            columns=tableColumns
            content=tableContent
          }}
          {{! END-SNIPPET}}
        </div>
      </div>
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      {{code-snippet name="horizon-table.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      {{code-snippet name="horizon-controller.js"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>views/horizon-table-cell.js</h3>
      {{code-snippet name="horizon-table-cell.js"}}
    </div>

  </div>
</div>
