<ul>
  <li><LinkTo @route="scenarios.simple">Simple</LinkTo></li>
  <li><LinkTo @route="Performance">scenarios.performance</LinkTo></li>
  <li><LinkTo @route="Blank">scenarios.blank</LinkTo></li>
</ul>

{{outlet}}
