<div class="demo-container">
  {{#ember-table as |t|}}
    {{ember-thead api=t columns=columns fillMode="equal-column" widthConstraint="gte-container"}}

    {{ember-tbody
      api=t
      rows=rows
      selectedRows=selectedRows
      onSelect="onSelect"
    }}
  {{/ember-table}}
</div>
