<div class="col-md-10 col-md-offset-2 left-border main-content-container">
  <h1>Ember Table <small>Simple</small></h1>

  <div class="row">
    <div class="col-md-12">
      <div class="example-container">
        <div class="ember-table-example-container">
          {{!// BEGIN-SNIPPET simple-table}}
          {{ember-table
            content=tableContent
            columns=tableColumns
            hasFooter=false
          }}
          {{!// END-SNIPPET}}
        </div>
      </div>
    </div>

    {{!-- TODO(azirbel): Re-enable prettyprint or similar formatter --}}
    <div class="col-md-12 bumper-30">
      <h3>Template</h3>
      {{code-snippet name="simple-table.hbs"}}
    </div>

    <div class="col-md-12 bumper-30">
      <h3>Controller</h3>
      {{code-snippet name="simple-controller.js"}}
    </div>
  </div>
</div>
