{{!-- Sub-Navigation --}}
<div class="col-md-2 sub-navigation-sidebar">
  <ul class="list-unstyled github-navigation">
    <li>
      <a class="btn btn-default" target="_BLANK" href="https://github.com/addepar/ember-table">
        <i class="icon-github"></i> View on GitHub
      </a>
    </li>
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=addepar&amp;repo=ember-table&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
    </li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Ember Table</li>
    <li>{{#link-to 'overview'}}Overview &amp; Getting Started{{/link-to}}</li>
    <li>{{#link-to 'documentation'}}API &amp; Documentation{{/link-to}}</li>
    <li>{{#link-to 'migration-guides'}}Migration Guides{{/link-to}}</li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Examples</li>
    <li>{{#link-to 'simple'}}Hello World table{{/link-to}}</li>
    <li>{{#link-to 'ajax'}}AJAX cells{{/link-to}}</li>
    <li>{{#link-to 'bars'}}Bar cells{{/link-to}}</li>
    <li>{{#link-to 'dynamic-bars'}}Dynamic bar cells{{/link-to}}</li>
    <li>{{#link-to 'financial'}}Tree &amp; financial table{{/link-to}}</li>
    <li>{{#link-to 'editable'}}Editable cells{{/link-to}}</li>
    <li>{{#link-to 'sparkline'}}Sparkline cells{{/link-to}}</li>
    <li>{{#link-to 'horizon'}}Horizon cells{{/link-to}}</li>
    <li>{{#link-to 'configurable-columns'}}Configurable columns{{/link-to}}</li>
    <li>{{#link-to 'removable-columns'}}Removable Columns{{/link-to}}</li>
  </ul>
  <hr>
  {{#link-to 'community-examples'}}
    <ul class="list-unstyled project-navigation">
      <li class="sub-title">Community Examples</li>
    </ul>
  {{/link-to}}
</div>
