<div class="demo-container fixed-width">
  {{#ember-table as |t|}}
    {{ember-thead
      api=t
      columns=columns
    }}

    {{ember-tbody
      api=t
      rows=rows
      onSelect=(action (mut selectedRows))
      selectedRows=selectedRows
    }}
  {{/ember-table}}
</div>
