{{!-- Footer --}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-6">
        <ul class="list-unstyled">
          <li><h6>Ember Table</h6></li>
          <li><a href="#"></a></li>
          <li>{{#linkTo 'emberTable.overview'}}Overview &amp; Getting Started{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.documentation'}}API &amp; Documentation{{/linkTo}}</li>
          <li class="bumper-30">{{#linkTo 'emberTable.simple'}}Hello World Table{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.ajax'}}AJAX cells{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.bars'}}Bar cells{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.dynamic-bars'}}Dynamic bar cells{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.financial'}}Tree &amp; financial table{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.editable'}}Editable cells{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.sparkline'}}Sparkline cells{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.horizon'}}Horizon cells{{/linkTo}}</li>
          <li>{{#linkTo 'emberTable.fluid'}}Fluid table{{/linkTo}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Open Source</h6></li>
          <li>{{#linkTo 'emberTable.overview'}}Home{{/linkTo}}</li>
          <li>{{#linkTo 'license'}}License{{/linkTo}}</li>
          <li>
            <address>
              <br><br>
              <a target="_BLANK" href="http://goo.gl/maps/446ui"><strong>Addepar HQ</strong><br>
              1215 Terra Bella Ave<br>
              Mountain View, CA 94043</a><br><br>

              <a target="_BLANK" href="http://goo.gl/maps/xEiCM"><strong>Addepar NY</strong><br>
              335 Madison Ave Suite 880<br>
              New York, NY 10017</a><br>
            </address>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-align">
        <p>&copy; 2013 Addepar, Inc.</p>
      </div>
    </div>
  </div>
</div>
