{{!-- Footer --}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Ember Table</h6></li>
          <li>{{#link-to 'emberTable.overview'}}Overview &amp; Getting Started{{/link-to}}</li>
          <li>{{#link-to 'emberTable.documentation'}}API &amp; Documentation{{/link-to}}</li>
          <li>{{#link-to 'emberTable.migration-guides'}}Migration Guides{{/link-to}}</li>
          <li>{{#link-to 'emberTable.community-examples'}}Community Examples{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Examples</h6></li>
          <li>{{#link-to 'emberTable.simple'}}Hello World table{{/link-to}}</li>
          <li>{{#link-to 'emberTable.ajax'}}AJAX cells{{/link-to}}</li>
          <li>{{#link-to 'emberTable.bars'}}Bar cells{{/link-to}}</li>
          <li>{{#link-to 'emberTable.dynamic-bars'}}Dynamic bar cells{{/link-to}}</li>
          <li>{{#link-to 'emberTable.financial'}}Tree &amp; financial table{{/link-to}}</li>
          <li>{{#link-to 'emberTable.editable'}}Editable cells{{/link-to}}</li>
          <li>{{#link-to 'emberTable.sparkline'}}Sparkline cells{{/link-to}}</li>
          <li>{{#link-to 'emberTable.horizon'}}Horizon cells{{/link-to}}</li>
          <li>{{#link-to 'emberTable.configurable-columns'}}Configurable columns{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Addepar Open Source</h6></li>
          <li><a target="_BLANK" href="http://addepar.github.io/">Home</a></li>
          <li>{{#link-to 'license'}}License{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>About Addepar</h6></li>
          <li><a target="_BLANK" href="http://www.addepar.com">www.addepar.com</a></li>
          <li>
            <address>
              <br>
              <a target="_BLANK" href="http://goo.gl/maps/446ui"><strong>Addepar HQ</strong><br>
              1215 Terra Bella Ave<br>
              Mountain View, CA 94043</a><br><br>

              <a target="_BLANK" href="http://goo.gl/maps/xEiCM"><strong>Addepar NY</strong><br>
              335 Madison Ave Suite 880<br>
              New York, NY 10017</a><br>
            </address>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-align">
        <p>&copy; 2013 Addepar, Inc.</p>
      </div>
    </div>
  </div>
</div>
