{{!-- addepar-navbar --}}
<nav class="navbar navbar-transparent addepar-navbar" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://addepar.github.io/">
      <img id="logo_dark" class="logo" src="img/addepar_logo_light.png" /><span class="navbar-title">Open Source</span>
    </a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Ember Table</a></li>
      <li><a href="http://addepar.github.io/ember-charts">Ember Charts</a></li>
      <li><a href="http://addepar.github.io/ember-widgets">Ember Widgets</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
