<div class="antiscroll-box">
  <div class="antiscroll-inner">
    <div class="ember-table-table-scrollable-wrapper">
      {{#if numFixedColumns}}
        {{view "lazy-table-block" classNames="ember-table-left-table-block"
          content=bodyContent
          columns=fixedColumns
          width=_fixedBlockWidth
          numItemsShowing=_numItemsShowing
          scrollTop=_scrollTop
          startIndex=_startIndex
        }}
      {{/if}}
      {{view "lazy-table-block" classNames="ember-table-right-table-block"
        content=bodyContent
        columns=tableColumns
        scrollLeft=_tableScrollLeft
        width=_tableBlockWidth
        numItemsShowing=_numItemsShowing
        scrollTop=_scrollTop
        startIndex=_startIndex
      }}
    </div>
  </div>
</div>
