<div class="ember-table-table-fixed-wrapper">
  {{#if numFixedColumns}}
    {{view "table-block" classNames="ember-table-left-table-block"
      content=footerContent
      columns=fixedColumns
      width=_fixedBlockWidth
      height=footerHeight
    }}
  {{/if}}
  {{view "table-block" classNames="ember-table-right-table-block"
    content=footerContent
    columns=tableColumns
    scrollLeft=_tableScrollLeft
    width=_tableBlockWidth
    height=footerHeight
  }}
</div>
