<div class="ember-table-table-fixed-wrapper">
  {{#if controller.numFixedColumns}}
    {{view "header-block" classNames="ember-table-left-table-block"
      columns=fixedColumns
      width=_fixedBlockWidth
      height=headerHeight
    }}
  {{/if}}
  {{view "header-block" classNames="ember-table-right-table-block"
    columns=tableColumns
    scrollLeft=_tableScrollLeft
    width=_tableBlockWidth
    height=headerHeight
  }}
</div>
