{{!-- Main navigation --}}
{{partial "navigation"}}

{{!-- License Hero --}}
<div class="hero-container small-hero-container">
  <div class="hero table-hero">
    <div class="hero-overlay"></div>
  </div>
</div>

{{!-- Legal --}}
<div class="section">
  <div class="container main-content-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 section-title">
        <h1>Code &amp; Documentation Licensing</h1>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <p>The majority of open source software exclusively developed by Addepar is licensed under the liberal terms of the Apache License, Version 2.0. The documentation is generally available under the Creative Commons Attribution 3.0 Unported License. In the end, you are free to use, modify and distribute any documentation, source code or examples within our open source projects as long as you adhere to the licensing conditions present within the projects.</p>
        <p>Also note that our engineers like to hack on their own open source projects in their free time. For code provided by our engineers outside of our official repositories on GitHub, Addepar does not grant any type of license, whether express or implied, to such code.</p>
     </div>
    </div>
  </div>
</div>
