name: Ember-Table CI
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 6

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node 14
        uses: actions/setup-node@v2-beta
        with:
          node-version: 14.x

      - name: Node Modules Cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ci-yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Run Tests
        run: yarn test:ember
        env:
          CI: true

  test-ember-try:
    name: Run Tests
    runs-on: ubuntu-latest
    timeout-minutes: 6

    strategy:
      matrix:
        ember-version:
          [
            ember-lts-2.18,
            ember-lts-3.4,
            ember-lts-3.8,
            ember-lts-3.12,
            ember-lts-3.16,
            ember-lts-3.20,
            ember-lts-3.24,
            ember-lts-3.28,
            # ember-release,
            ember-production,
            ember-default-docs
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node 14
        uses: actions/setup-node@v2-beta
        with:
          node-version: 14.x

      - name: Node Modules Cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ci-yarn-${{ matrix.ember-version }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install
        run: yarn install --frozen-lockfile --ignore-engines

      - name: Run Tests
        run: node_modules/.bin/ember try:one ${{ matrix.ember-version }} --skip-cleanup
